extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

       
        h1 Juan A. Lopez

        
        p.lead.text-light
          | Full Stack JavaScript Developer.

       
        .portfolio-bio
          p
            | My name is Juan, I'm passionate about learning the latest frameworks and libraries for Web development. I enjoy creating responsive applications in addition to being user friendly. I love working in fast paced environments. Adaptable and self motivated learner. Interested in new programming technologies, and continuous self improvement.
            
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        
        - const skills = [ "HTML", "CSS","SaSS", "React", "Node", "Express", "PugJs" ]
        ul
          each skill in skills
            li= skill
          
        h6 Contact Info

       
        ul
          li 610-867-5309
          li juan@thejuanandonly.net

        
        a.button.expanded(href='https://www.linkedin.com/in/juan-lopez-97063747/', target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/The-Juan-AndOnly', target="_blank") GitHub
        a.button.expanded(href='https://twitter.com/lopez_juan2', target="_blank") Twitter
  nav.grid-container.portfolio-breadcrumb.bottom
    a(href='/') ← Back
  